body {
	background: navajowhite;
}

button.selected {
	background: green;
}

button.wrong {
	background: red;
}

button.unknown {
	background: purple;
}

li.active div {
	border: 1px solid gray;
	border-radius: 10px;
}

li {
	cursor: pointer;
}

#questions li {
	margin-bottom: 20px;
}