<div id="index" v-cloak>

  <h1>LEK Questions</h1>
  <ul>
	  <li><a href="/setup">Set up cources</a></li>
	  <li><a href="/questions">Answer the questions</a></li>
  </ul>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
