<div id="questions-container" class="content" v-cloak>

  <h1>Questions</h1>
<a href="/">Back</a><br />
  <h2 id="score-board">Score: <span id="score">0 / 0</span></h2>

  <ul id='list'>
	  
	</ul>

	<ul id='questions'>
	  
	</ul>

<script type="text/javascript">
	$(() => {
		const list = $('#list');
		const questions = $('#questions');
		const score = $('#score');
		let cources = [];
		let cource = {};
		let total = 0;
		let right = 0;

		function renderBtn(item) {
			const markup = `<li>
				<div class='cource-item' data-id='${item.id}'>
					<span class='name'>${item.name}</span> <span class='num'>(${item.questions.length})</span>
				</div>
			</li>`;
			list.append(markup);
		}

		function renderQuestion(item) {
			const markup = `<li>
				<div class='question-item' data-id='${item.id}' data-answer='${item.answer}'>
					<span class='number'>${item.number}</span>
					<button class='set-val' data-val='A'>A</button>
					<button class='set-val' data-val='B'>B</button>
					<button class='set-val' data-val='C'>C</button>
					<button class='set-val' data-val='D'>D</button>
					<button class='set-val' data-val='E'>E</button>
				</div>
			</li>`;
			questions.append(markup);
		}

		$.get('/api/cource')
		.then((data) => {
			cources = data;
			data.forEach(renderBtn);
		});

		list.on('click', 'li', function(e) {
			const li = $(e.target).closest('li');
			const id = li.find('div').attr('data-id');
			$('li.active').removeClass('active');
			li.addClass('active');
			cource = cources.find(c => c.id === id);
			questions.empty();
			cource.questions.forEach(renderQuestion);
		});

		$('body').on('click', '.set-val', function(e){
			const btn = $(e.target);
			const li = btn.closest('li');
			if(li.is('.answered')) {
				return;
			}
			const id = li.find('div').attr('data-id');
			const answer = btn.text();

			const question = cource.questions.find(c => c.id === id);
			if(!question.answer) {
				btn.addClass('unknown');
			}else if(question.answer === answer) {
				btn.addClass('selected');
				total ++; right ++;
			} else {
				total ++;
				btn.addClass('wrong');
				li.find(`[data-val=${question.answer}]`).addClass('selected');
			}
			li.addClass('answered');
			score.text(`${right} / ${total}`);
		});
	});
</script>
</div>
