<div id="setup" v-cloak>

  <h1>Cources</h1>
  <ul id='list'>
	  
  </ul>
  <input type="text" id="new-name" placeholder="Name" />
  <input type="number" id="new-num" placeholder="Number of questions" />
  <button id='add'>Add</button>

</div>

<script type="text/javascript">
	$(() => {
		const list = $('#list');

		function renderBtn(item) {
			const markup = `<li>
				<div class='cource-item'>
					<span class='name'>${item.name}</span> <span class='num'>(${item.questions.length})</span><button class='delete' data-id='${item.id}'>X</button>
				</div>
			</li>`;
			list.append(markup);
		}

		$.get('/api/cource')
		.then((data) => {
			data.forEach(renderBtn);
		});

		const newName = $('#new-name');
		const newNum = $('#new-num');
		$('body').on('click', '#add', function(){
			const model = {
				name : newName.val()
			};
			const num = newNum.val();
			if(!model.name || !num){
				return;
			}
			newName.val('');
			newNum.val('');
			$.post('/api/cource', model)
			.then((item) => {
				const questions = [];
				for(let i = 0; i < num; i++){
					questions.push({
						number: i + 1,
						cource: item.id
					});
				}
				$.post('/api/question/createMany', {data: questions} )
				.then((items) => {
					item.questions = items;
					renderBtn(item);
				});
			});
		});

		$('body').on('click', '.delete', function(e){
			const btn = $(e.target);
			const name = btn.parent().find('.name').text();
			if(!confirm('Are you sure you want to delete cource ' + name + ' with all questions?')) {
				return;
			}
			
			const id = btn.attr('data-id');

			$.ajax({
				url: '/api/cource/' + id,
				type: 'DELETE',
				success: function(result) {
					btn.parent().remove();
				}
			});
		});
	
		list.on('click', 'li', function(e) {
			const li = $(e.target);
			$('li.active').removeClass('active');
			li.addClass('active');
		});
	});
</script>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
