<div id="setup" v-cloak>

  <h1>Cources</h1>
  <ul id='list'>
	  
  </ul>
  <input type="text" id="new-name" />
  <button id='add'>Add</button>

</div>

<script type="text/javascript">
	$(() => {
		const list = $('#list');
		$.get('/api/cource')
		.then((data) => {
			console.log(data);
			data.forEach(item => {
				const markup = `<li>${item.name}<button class='delete' data-id='${item.id}'>X</button></li>`;
				list.append(markup);
			});
		});

		const newName = $('#new-name');
		$('body').on('click', '#add', function(){
			const model = {
				name : newName.val()
			};
			if(!model.name){
				return;
			}
			newName.val('');
			$.post('/api/cource', model)
			.then((item) => {
				const markup = `<li>${item.name}</li>`;
				list.append(markup);
				console.log(item);
			});
		});

		$('body').on('click', '.delete', function(e){
			const btn = $(e.target);
			const id = btn.attr('data-id');

			$.ajax({
				url: '/api/cource/' + id,
				type: 'DELETE',
				success: function(result) {
					btn.parent.remove();
				}
			});
		});
	});
</script>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
