<div id="setup" v-cloak>

  <h1>Cources</h1>
  <ul id='list'>
	  
  </ul>
  <input type="text" id="new-name" placeholder="Name" />
  <input type="number" id="new-num" placeholder="Number of questions" />
  <button id='add'>Add</button>

	<ul id='questions'>
	  
	</ul>
</div>

<script type="text/javascript">
	$(() => {
		const list = $('#list');
		const questions = $('#questions');
		let cources = [];
		let cource = {};

		function renderBtn(item) {
			const markup = `<li>
				<div class='cource-item' data-id='${item.id}'>
					<span class='name'>${item.name}</span> <span class='num'>(${item.questions.length})</span><button class='delete'>X</button>
				</div>
			</li>`;
			list.append(markup);
		}

		function renderQuestion(item) {
			const markup = `<li>
				<div class='question-item' data-id='${item.id}'>
					<span class='number'>${item.number}</span>
					<button class='set-val ${(item.answer == 'A' ? 'selected' : '')}'>A</button>
					<button class='set-val ${(item.answer == 'B' ? 'selected' : '')}''>B</button>
					<button class='set-val ${(item.answer == 'C' ? 'selected' : '')}''>C</button>
					<button class='set-val ${(item.answer == 'D' ? 'selected' : '')}''>D</button>
					<button class='set-val ${(item.answer == 'E' ? 'selected' : '')}''>E</button>
				</div>
			</li>`;
			questions.append(markup);
		}

		$.get('/api/cource')
		.then((data) => {
			cources = data;
			data.forEach(renderBtn);
		});

		const newName = $('#new-name');
		const newNum = $('#new-num');
		$('body').on('click', '#add', function(){
			const model = {
				name : newName.val()
			};
			const num = newNum.val();
			if(!model.name || !num){
				return;
			}
			newName.val('');
			newNum.val('');
			$.post('/api/cource', model)
			.then((item) => {
				const questions = [];
				for(let i = 0; i < num; i++){
					questions.push({
						number: i + 1,
						cource: item.id
					});
				}
				$.post('/api/question/createMany', {data: questions} )
				.then((items) => {
					item.questions = items;
					cources.push(item);
					renderBtn(item);
				});
			});
		});

		$('body').on('click', '.delete', function(e){
			const btn = $(e.target);
			const name = btn.parent().find('.name').text();
			if(!confirm('Are you sure you want to delete cource ' + name + ' with all questions?')) {
				return;
			}
			
			const id = btn.parent().attr('data-id');

			$.ajax({
				url: '/api/cource/' + id,
				type: 'DELETE',
				success: function(result) {
					if (btn.parent().parent().is('.active')) {
						questions.empty();
					}
					btn.parent().parent().remove();
					const index = cources.findIndex(c => c.id === id);
					cources.splice(index, 1);
				}
			});
		});
	
		list.on('click', 'li', function(e) {
			const li = $(e.target).closest('li');
			const id = li.find('div').attr('data-id');
			$('li.active').removeClass('active');
			li.addClass('active');
			cource = cources.find(c => c.id === id);
			questions.empty();
			cource.questions.forEach(renderQuestion);
		});

		$('body').on('click', '.set-val', function(e){
			const btn = $(e.target);
			const li = btn.closest('li');
			const id = li.find('div').attr('data-id');
			const old = li.find('.selected');
			const answer = btn.text();
			$.ajax({
				url: '/api/question/' + id,
				data: {
					answer: answer
				},
				type: 'PUT',
				success: function(result) {
					if(old.length) {
						old.removeClass('selected');
					}
					btn.addClass('selected');
					const question = cource.questions.find(c => c.id === id);
					question.answer = answer;
				}
			});
		});
	});
</script>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
