<div id="setup" v-cloak>

  <h1>Cources</h1>
  <ul id='list'>
	  
  </ul>
  <input type="text" id="new-name" placeholder="Name" />
  <input type="number" id="new-num" placeholder="Number of questions" />
  <button id='add'>Add</button>

</div>

<script type="text/javascript">
	$(() => {
		const list = $('#list');

		function renderBtn(item) {
			const markup = `<li><span>${item.name}</span><button class='delete' data-id='${item.id}'>X</button></li>`;
			list.append(markup);
		}

		$.get('/api/cource')
		.then((data) => {
			data.forEach(renderBtn);
		});

		const newName = $('#new-name');
		const newNum = $('#new-num');
		$('body').on('click', '#add', function(){
			const model = {
				name : newName.val(),
				questions : []
			};
			const num = newNum.val();
			if(!model.name || !num){
				return;
			}
			for(let i = 0; i < num; i++){
				model.questions.push({
					number: i + 1
				});
			}
			newName.val('');
			newNum.val('');
			$.post('/api/cource', model)
			.then((item) => {
				renderBtn(item);
			});
		});

		$('body').on('click', '.delete', function(e){
			const btn = $(e.target);
			const name = btn.parent().find('span').text();
			if(!confirm('Are you sure you want to delete cource ' + name + ' with all questions?')) {
				return;
			}
			
			const id = btn.attr('data-id');

			$.ajax({
				url: '/api/cource/' + id,
				type: 'DELETE',
				success: function(result) {
					btn.parent().remove();
				}
			});
		});
	});
</script>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
